---
import Development from "./Development.astro"

const { cols = 1, rows = 1, rotate = 0, color, href, development } = Astro.props
---

<li class="shadow shadow-neutral-400 hover:scale-105 group hover:shadow-lg will-change-transform hover:z-10 transition duration-200 h-fit relative"
    style={`grid-column: span ${cols} / span ${cols}; grid-row: span ${rows} / span ${rows}; background-color: ${color}`}>
    <a class="p-4 block" target="_blank" href={href}>
        <slot />
    </a>
    {development && <div class="bg-black absolute cursor-not-allowed opacity-0 group-hover:opacity-10 transition-opacity duration-150 w-full h-full top-0 left-0" />}
    {development && <Development />}
</li>

<style define:vars={{
    "initial-rotate": rotate + "deg",
}}>
    li {
        transform: rotate(var(--initial-rotate));
    }

    li:hover {
        transform: rotate(0);
    }
</style>